@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.topHeader{
    height: 40px;
    width: 100%;
    background-color: #191919;
    display: flex;
}
.headerContainer{
    width: 1170px;
    display: flex;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
}
.leftHalf{
    height: 40px;
    line-height: 40px;
    width: 1000px;
}
.leftIcons{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.leftIcons>a{
    text-decoration: none;
}
.navItems a{
    text-decoration: none;
}
.fa-brands,.fa-solid,.fa{
    opacity: 0.38;
    width: 16px;
    height: 16px;
    color: white;
    display: inline !important;
}
.navItemTitle,.rightIconsTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: white;
    opacity: 50%;
    margin-left: 5px;
}
.rightHalf{
    width: 168px;
}
.rightIcons{
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.rightIcons>.signin{
    width: 70px;
}
.rightIcons>.language{
    width: 60px;
}
.rightIcons>div{
    display: flex;
    align-items: center;
    height: 40px;
    letter-spacing: 0.5px;
}
.rightIcons>div>img{
    width: 18px;
    height: 18px;
    opacity: 0.38;
}
.navButtons>span{
    height: 20px;
    width: 1px;
    background-color: white;
    opacity: 0.38;
    margin: 0 15px;
}
.rightIcons>span{
    height: 20px;
    width: 1px;
    background-color: white;
    opacity: 0.38;
    margin-left: 14px;
    margin-right: 14px;
}
.bottomHeader{
    background-image: url('./src/photo_2022-04-04_12-32-42.png');
    height: 800px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    opacity: 87%;
    height: 800px;
    width: 100%;
    z-index: 1;
}
.nav{
    display: flex;
    width: 1170px;
    height: 70px;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
}
.nav>div{
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}
.navItems>ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.navItems>ul>li{
    list-style-type: none;
}
.logo{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-top: -3px;
}
.navItems{
    width: 805px;
    margin-left: 105px;
}
.navItemTitle{
    color: white;
    opacity: 1;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.65px;
}
.items{
    display: flex;
    align-items: center;
}
.navButtons{
    
    width: 168px;
}
.search{
    margin-left: 33px;
    margin-right: 12px;
}
.fav{
    margin: 0 10px;
}
.cart{
    margin-left: 15px;
}
.navButtons>span{
    margin: 0;
}
.navContent{
    width: 820px;
    margin-top:200px;
    margin-left: calc((100% - 820px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 820px)/2 - (100vw - 100%) / 2);
    z-index: 2;
    height: 520px;  
    position: relative; 
}
.navContentBody{
    height: 240px;
    text-align: center;
}
.navContentBodyTitle{
    color: white;
    opacity: 0.5;
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    padding-top: 11px;
}   
.navContentBodyHeaderTop{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-left: 8px;
    letter-spacing: 2.1px;
}
.navContentBodyBtn{
    height: 41px;
    width: 164px;
    background-color: #303f9f;
    color: white;
    text-transform: uppercase;
    margin-top: 33px;
    display: inline-block;
    line-height: 41px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    border-radius: 22px;
    letter-spacing: 1.2px;
    border: 2px solid #303f9f;
}
.navContentFooter{
    margin-top: 67px;
    text-align: center;
}
.navContentFooter>img{
    border-radius: 50%;
    margin-bottom: 12px;
    height: 50px;
    width: 50px;
    object-fit: none;
    margin-right: 3px;
}
.navfooterName{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    letter-spacing: 0.65px;
}
.navDate{
    color: white;
    opacity: 0.38;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.65px;
    white-space: break-spaces;
}
.navCommentsAndLikes{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.navComment{
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: space-between;
    margin-left: -4px;
}
.navComment>img{
    width: 15px;
}
.navCommentTitle,.navLikeTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.65px;
    white-space: pre-wrap;
}
.navLike{
    display: flex;
    align-items: center;
    margin-left: 24px;
    width: 90px;
    justify-content: space-evenly;
}
.navLike>img{
    width: 15px;
}
.sectionHeaderUL{
    width: 1170px;
    display: flex;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
    height: 60px;
    align-items: center;
}
.sectionHeaderUL > li {
    list-style-type: none;
    margin-right: 20px;
    padding: 5px 25px;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.sectionHeaderUL > li:nth-child(1){
    background: transparent;
    padding:0;
}
.sectionHeaderUL > li:nth-child(2) {
    border: 1px solid #3f51b5;
    background: transparent;
    padding: 5px 28px;
}
.sectionHeaderUL > li > a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.4px;
}
  .sectionHeaderUL > li:first-child > a {
    font-weight: 700;
}
.sectionHeaderUL > li:nth-child(2) > a {
    color: #3f51b5;
}
.sectionBody{
    height: 2340px;
    background-color: #f5f5f5;
}
