@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.topHeader{
    height: 40px;
    width: 100vw;
    background-color: #191919;
    display: flex;
}
.headerContainer{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.leftHalf{
    height: 40px;
    line-height: 40px;
    width: 1000px;
}
.leftIcons{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.navItems a{
    text-decoration: none;
}
.fa-brands,.fa-solid,.fa{
    opacity: 0.38;
    width: 16px;
    height: 16px;
    color: white;
    display: inline !important;
}
.navItemTitle,.rightIconsTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: white;
    opacity: 50%;
    margin-left: 5px;
}
.rightHalf{
    width: 168px;
}
.rightIcons{
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.rightIcons>.signin{
    width: 70px;
}
.rightIcons>.language{
    width: 60px;
}
.rightIcons>div{
    display: flex;
    align-items: center;
    height: 40px;
    letter-spacing: 0.5px;
}
.rightIcons>div>img{
    width: 18px;
    height: 18px;
    opacity: 0.38;
}
span{
    height: 20px;
    width: 1px;
    background-color: white;
    opacity: 0.38;
    margin: 0 15px;
}
.rightIcons>span{
    margin-left: 14px;
    margin-right: 14px;
}
.bottomHeader{
    background-image: url('./src/photo_2022-04-04_12-32-42.png');
    height: 800px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    opacity: 87%;
    height: 800px;
    width: 100%;
    z-index: 1;
}
nav{
    display: flex;
    width: 1170px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
nav>div{
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
ul>li{
    list-style-type: none;
}
.logo{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-top: -3px;
}
.navItems{
    width: 805px;
    margin-left: 105px;
}
.navItemTitle{
    color: white;
    opacity: 1;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.items{
    display: flex;
    align-items: center;
}
.navButtons{
    
    width: 168px;
}
.search{
    margin-left: 33px;
    margin-right: 12px;
}
.fav{
    margin: 0 10px;
}
.cart{
    margin-left: 15px;
}
.items>img{
    margin-left: 5px;
}
.navButtons>span{
    margin: 0;
}
.navContent{
    width: 820px;
    margin: 0 auto;
    margin-top:200px;
    z-index: 2;
    height: 520px;  
    position: relative; 
}
.navContentBody{
    height: 240px;
    text-align: center;
}
.navContentBodyTitle{
    color: white;
    opacity: 0.5;
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    margin-top: 10px;
    display: inline-block;
}   
.navContentBodyHeaderTop{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 5px;
    letter-spacing: 2px;
}
.navContentBodyBtn{
    height: 41px;
    width: 164px;
    background-color: #303f9f;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    border-radius: 22px;
    letter-spacing: 1px;
}
.navContentFooter{
    margin-top: 70px;
    text-align: center;
}
.navContentFooter>img{
    border-radius: 50%;
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    background-size: cover;
}
.navfooterName{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.navDate{
    color: white;
    opacity: 0.38;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 400;
}