@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
.topHeader{
    height: 40px;
    width: 100%;
    background-color: #191919;
    display: flex;
}
.headerContainer{
    width: 1170px;
    display: flex;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
}
.leftHalf{
    height: 40px;
    line-height: 40px;
    width: 1000px;
}
.leftIcons{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.leftIcons>a{
    text-decoration: none;
}
.navItems a{
    text-decoration: none;
}
.leftIcons>a>i{
    opacity: 0.38;
    width: 16px;
    height: 16px;
    color: white;
    display: inline !important;
}
.navItemTitle,.rightIconsTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: white;
    opacity: 50%;
    margin-left: 5px;
}
.rightHalf{
    width: 168px;
}
.rightIcons{
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.rightIcons>.signin{
    width: 70px;
}
.rightIcons>.language{
    width: 60px;
}
.rightIcons>div{
    display: flex;
    align-items: center;
    height: 40px;
    letter-spacing: 0.5px;
}
.rightIcons>div>img{
    width: 18px;
    height: 18px;
    opacity: 0.38;
}
.navButtons>span{
    height: 20px;
    width: 1px;
    background-color: white;
    opacity: 0.38;
    margin: 0 15px;
}
.rightIcons>span{
    height: 20px;
    width: 1px;
    background-color: white;
    opacity: 0.38;
    margin-left: 14px;
    margin-right: 14px;
}
.bottomHeader{
    background-image: url('./src/photo_2022-04-04_12-32-42.png');
    height: 800px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    opacity: 87%;
    height: 800px;
    width: 100%;
    z-index: 1;
}
.nav{
    display: flex;
    width: 1170px;
    height: 70px;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
}
.nav>div{
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
}
.navItems>ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.navItems>ul>li{
    list-style-type: none;
}
.logo{
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-top: -3px;
}
.navItems{
    width: 805px;
    margin-left: 105px;
}
.navItemTitle{
    color: white;
    opacity: 1;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.65px;
}
.items{
    display: flex;
    align-items: center;
}
.navButtons{
    
    width: 168px;
}
.search{
    margin-left: 33px;
    margin-right: 12px;
}
.fav{
    margin: 0 10px;
}
.cart{
    margin-left: 15px;
}
.navButtons>span{
    margin: 0;
}
.navContent{
    width: 820px;
    margin-top:200px;
    margin-left: calc((100% - 820px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 820px)/2 - (100vw - 100%) / 2);
    z-index: 2;
    height: 520px;  
    position: relative; 
}
.navContentBody{
    height: 240px;
    text-align: center;
}
.navContentBodyTitle{
    color: white;
    opacity: 0.5;
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    padding-top: 11px;
}   
.navContentBodyHeaderTop{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-left: 8px;
    letter-spacing: 2.1px;
}
.navContentBodyBtn{
    height: 41px;
    width: 164px;
    background-color: #303f9f;
    color: white;
    text-transform: uppercase;
    margin-top: 33px;
    display: inline-block;
    line-height: 41px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    border-radius: 22px;
    letter-spacing: 1.2px;
    border: 2px solid #303f9f;
}
.navContentFooter{
    margin-top: 67px;
    text-align: center;
}
.navContentFooter>img{
    border-radius: 50%;
    margin-bottom: 12px;
    height: 50px;
    width: 50px;
    object-fit: none;
    margin-right: 3px;
}
.navfooterName{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    letter-spacing: 0.65px;
}
.navDate{
    color: white;
    opacity: 0.38;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.65px;
    white-space: break-spaces;
}
.navCommentsAndLikes{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.navComment{
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: space-between;
    margin-left: -4px;
}
.navComment>img{
    width: 15px;
}
.navCommentTitle,.navLikeTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.65px;
    white-space: pre-wrap;
}
.navLike{
    display: flex;
    align-items: center;
    margin-left: 24px;
    width: 90px;
    justify-content: space-evenly;
}
.navLike>img{
    width: 15px;
}
.sectionHeaderUL{
    width: 1170px;
    display: flex;
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    margin-right: calc((100% - 1170px)/2 - (100vw - 100%) / 2);
    height: 60px;
    align-items: center;
}
.sectionHeaderUL > li {
    list-style-type: none;
    margin-right: 20px;
    padding: 5px 25px;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.sectionHeaderUL > li:nth-child(1){
    background: transparent;
    padding:0;
}
.sectionHeaderUL > li:nth-child(2) {
    border: 1px solid #3f51b5;
    background: transparent;
    padding: 5px 28px;
}
.sectionHeaderUL > li > a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.4px;
}
  .sectionHeaderUL > li:first-child > a {
    font-weight: 700;
}
.sectionHeaderUL > li:nth-child(2) > a {
    color: #3f51b5;
}
.sectionBody{
    height: 2340px;
    background-color: #f5f5f5;
}
.sectionBody{
    padding-top: 31px;
    display: flex;
}
.sectionLeft{
    margin-left: calc((100% - 1170px)/2 + (100vw - 100%) / 2);
    width: 820px;
    margin-right: 40px;
}
.firstCard{
    position: relative;
    background-color: white;
}
.firstCard>.firstCardImage{
    background-image: url('./src/backpic.png');
    width: 100%;
    height: 420px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    
}
.firstCardPause{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 60px;
    opacity: 0.5;
}
.firstCardLifestyle{
    color: white;
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.firstCardLikeAndComment{
    display: flex;
    padding-right: 20px;
    padding-bottom: 15px;
}
.firstCardLike,.firstCardComment{
    display: flex;
}
.firstCardLike>p,.firstCardComment>p{
    color: white;
    font-size: 13px;
}
.firstCardLike>img,.firstCardComment>img{
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.firstCardFooter{
    width: 100%;
    border: 1px solid #e0e0e0;
}
.firstCardFooterHeading {
    font-weight: 700;
    letter-spacing: 0.55px;
    display: inline-block;
    padding: 15px 15px 6px 18px;
    font-size: 18px;
}
.firstCardFooterSubject {
    font-family: 'Open sans',sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 0 15px 15px 17px;
    letter-spacing: 0.65px;
    line-height: 25px;
}
.firstCardComment2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    border: 1px solid #e3e3e3;
}
.firstCardComment2Left {
    display: flex;
}
.firstCardComment2LeftImg {
    margin-right: 5px;
}
.firstCardComment2AuthorName {
    margin: 5px;
    font-size: 14px;
    font-weight: 700;
}
.firstCardComment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 3px;
}

.secondCard {
    margin-top: 19px;
    display: flex;
    background-color: white;
}
.secondCardImage{
    background-image: url('./src/secondCardImage.png');
    height: 165px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}
.secondCardPause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.secondCardLifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.secondCardLikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 17px;
}
.secondCardComment,.secondCardLike {
    display: flex;
}
.secondCardComment>img,.secondCardLike>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.secondCardLikeTitle {
    color: white;
    font-size: 13px;
}
.secondCardFooter{
    width: calc(820px - 260px);
}
.secondCardFooterTop {
    padding-top: 10px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.secondCardFooterHeading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.39px;
    width: 310px;
    margin-left: 2px;
}
.secondCardFooterSubject {
    line-height: 22px;
    padding-bottom: 13px;
}
.secondCardFooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
}
.secondCardFooterSubject > p:first-child {
    letter-spacing: 0.65px;
}
.secondCardFooterSubject > p:nth-child(2) {
    letter-spacing: 0.6px;
}
.secondCardComment2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 20px;
    align-items: center;
}
.secondCardComment2Left {
    display: flex;
}
.secondCardComment2LeftImg {
    margin-right: 5px;
}
.secondCardComment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 5px 5px 6px 7px;
}
.secondCardComment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 5px;
}
.secondCardComment2Right{
    margin: 1px 2px 0 0;
}

.thirdCard {
    margin-top: 20px;
    display: flex;
    background-color: white;
}
.thirdCardImage{
    background-image: url('./src/thirdCardImage.png');
    height: 165px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}
.thirdCardPause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.thirdCardLifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.thirdCardLikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 17px;
}
.thirdCardComment,.thirdCardLike {
    display: flex;
}
.thirdCardComment>img,.thirdCardLike>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.thirdCardLikeTitle {
    color: white;
    font-size: 13px;
}
.thirdCardFooter{
    width: calc(820px - 260px);
}
.thirdCardFooterTop {
    padding-top: 10px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.thirdCardFooterHeading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.45px;
    width: 375px;
    margin-left: 2px;
}
.thirdCardFooterSubject {
    line-height: 22px;
    padding-bottom: 15px;
}
.thirdCardFooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
}
.thirdCardFooterSubject > p:first-child {
    letter-spacing: 0.65px;
}
.thirdCardFooterSubject > p:nth-child(2) {
    letter-spacing: 0.6px;
}
.thirdCardComment2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 20px;
    align-items: center;
}
.thirdCardComment2Left {
    display: flex;
}
.thirdCardComment2LeftImg {
    margin-right: 5px;
}
.thirdCardComment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 4px 5px 6px 7px;
}
.thirdCardComment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 5px;
}

.fourthCard {
    margin-top: 20px;
    display: flex;
    background-color: white;
}
.fourthCardImage{
    background-image: url('./src/fourthCardImage.png');
    height: 165px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}
.fourthCardPause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fourthCardLifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.fourthCardLikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 17px;
}
.fourthCardComment,.fourthCardLike {
    display: flex;
}
.fourthCardComment>img,.fourthCardLike>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.fourthCardLikeTitle {
    color: white;
    font-size: 13px;
}
.fourthCardFooter{
    width: calc(820px - 260px);
}
.fourthCardFooterTop {
    padding-top: 10px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.fourthCardFooterHeading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    width: 508px;
    margin-left: 2px;
}
.fourthCardFooterSubject {
    line-height: 22px;
    padding-bottom: 15px;
}
.fourthCardFooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
}
.fourthCardFooterSubject > p:first-child {
    letter-spacing: 0.65px;
}
.fourthCardFooterSubject > p:nth-child(2) {
    letter-spacing: 0.6px;
}
.fourthCardComment2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 20px;
    align-items: center;
}
.fourthCardComment2Left {
    display: flex;
}
.fourthCardComment2LeftImg {
    margin-right: 5px;
}
.fourthCardComment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 4px 5px 6px 7px;
}
.fourthCardComment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 5px;
}

.fourthCardComment2Right{
    margin: 1px 2px 0 0;
}

.thirdCardComment2Right{
    margin: 1px 2px 0 0;
}
.fifthCard{
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

.fifthCardChild1 {
    width: 260px;
    height: 420px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
    margin-right: 20px;
}
.fifthCardChild1Image{
    background-image: url('./src/5thCardChilld1Image.png');
    height: 160px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
}
.fifthCardChild1Pause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fifthCardChild1Lifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.fifthCardChild1LikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 11px;
}
.fifthCardChild1Comment,.fifthCardChild1Like {
    display: flex;
}
.fifthCardChild1Comment>img,.fifthCardChild1Like>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.fifthCardChild1LikeTitle {
    color: white;
    font-size: 13px;
}
.fifthCardChild1FooterTop {
    padding-top: 12px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.fifthCardChild1FooterHeading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.37px;
    width: 190px;
    margin-left: 2px;
    line-height: 23px;
}
.fifthCardChild1FooterSubject {
    line-height: 22px;
    padding-bottom: 25px;
    margin-right: 15px;
}
.fifthCardChild1FooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
    letter-spacing: 0.65px;
    position: relative;
    line-height: 21px;
}
.fifthCardChild1FooterSubject > p::after {
    content: '';
    position: absolute;
    background: #ffffffde;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 5;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ffffff5c,#ffffffde);
}
.fifthCardChild1Comment2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    height: 85px;
    align-items: center;
}
.fifthCardChild1Comment2Left {
    display: flex;
}
.fifthCardChild1Comment2LeftImg {
    margin-right: 5px;
}
.fifthCardChild1Comment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 5px 6px 4px;
    letter-spacing: 0.25px;
}
.fifthCardChild1Comment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 4px;
}

.fifthCardChild1Comment2Right{
    margin: 16px 0 0 0;
}

.fifthCardChild2 {
    width: 260px;
    height: 420px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
    margin-right: 20px;
}
.fifthCardChild2Image{
    background-image: url('./src/5thCardChild2Image.png');
    height: 160px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
}
/* .fifthCardChild2Pause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
.fifthCardChild2Lifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.fifthCardChild2LikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 11px;
}
.fifthCardChild2Comment,.fifthCardChild2Like {
    display: flex;
}
.fifthCardChild2Comment>img,.fifthCardChild2Like>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.fifthCardChild2LikeTitle {
    color: white;
    font-size: 13px;
}
.fifthCardChild2FooterTop {
    padding-top: 12px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.fifthCardChild2FooterHeading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.37px;
    width: 190px;
    margin-left: 2px;
    line-height: 23px;
}
.fifthCardChild2FooterSubject {
    line-height: 22px;
    padding-bottom: 25px;
    margin-right: 15px;
}
.fifthCardChild2FooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
    letter-spacing: 0.65px;
    position: relative;
    line-height: 21px;
}
.fifthCardChild2FooterSubject > p::after {
    content: '';
    position: absolute;
    background: #ffffffde;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 5;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ffffff5c,#ffffffde);
}
.fifthCardChild2Comment2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    height: 85px;
    align-items: center;
}
.fifthCardChild2Comment2Left {
    display: flex;
}
.fifthCardChild2Comment2LeftImg {
    margin-right: 5px;
}
.fifthCardChild2Comment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 5px 6px 4px;
    letter-spacing: 0.25px;
}
.fifthCardChild2Comment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 4px;
}

.fifthCardChild2Comment2Right{
    margin: 16px 0 0 0;
}


.fifthCardChild3 {
    width: 260px;
    height: 420px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
}
.fifthCardChild3Image{
    background-image: url('./src/5thCardChild3Image.png');
    height: 160px;
    width: 260px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
}
/* .fifthCardChild3Pause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}*/
.fifthCardChild3Lifestyle {
    color: white;
    font-size: 12px;
    padding-left: 17px;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.fifthCardChild3LikeAndComment {
    display: flex;
    padding-right: 20px;
    padding-bottom: 11px;
}
.fifthCardChild3Comment,.fifthCardChild3Like {
    display: flex;
}
.fifthCardChild3Comment>img,.fifthCardChild3Like>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.fifthCardChild3LikeTitle {
    color: white;
    font-size: 13px;
}
.fifthCardChild3FooterTop {
    padding-top: 12px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.fifthCardChild3FooterHeading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 0.37px;
    width: 190px;
    margin-left: 2px;
    line-height: 23px;
}
.fifthCardChild3FooterSubject {
    line-height: 22px;
    padding-bottom: 25px;
    margin-right: 15px;
}
.fifthCardChild3FooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
    letter-spacing: 0.65px;
    position: relative;
    line-height: 21px;
}
.fifthCardChild3FooterSubject > p::after {
    content: '';
    position: absolute;
    background: #ffffffde;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 5;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ffffff5c,#ffffffde);
}
.fifthCardChild3Comment2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    height: 85px;
    align-items: center;
}
.fifthCardChild3Comment2Left {
    display: flex;
}
.fifthCardChild3Comment2LeftImg {
    margin-right: 5px;
}
.fifthCardChild3Comment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 5px 6px 4px;
    letter-spacing: .25px;
}
.fifthCardChild3Comment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 4px;
}

.fifthCardChild3Comment2Right{
    margin: 16px 0 0 0;
}

.sixthCard{
    width: 820px;
    display: flex;
    margin-top: 20px;

}

.sixthCardChild1 {
    width: 400px;
    height: 540px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
    margin-right: 20px;
}
.sixthCardChild1Image{
    background-image: url('./src/sixthCardImage.png');
    height: 300px;
    width: 400px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
}
/* .sixthCardChild1Pause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}*/
.sixthCardChild1Lifestyle {
    color: white;
    font-size: 12px;
    padding-left: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.sixthCardChild1LikeAndComment {
    display: flex;
    padding-right: 21px;
    padding-bottom: 17px;
}
.sixthCardChild1Comment,.sixthCardChild1Like {
    display: flex;
}
.sixthCardChild1Comment>img,.sixthCardChild1Like>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.sixthCardChild1LikeTitle {
    color: white;
    font-size: 13px;
}
.sixthCardChild1FooterTop {
    padding-top: 12px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.sixthCardChild1FooterHeading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.55px;
    width: 287px;
    margin-left: 3px;
    line-height: 23px;
    margin-top: 1px;
}
.sixthCardChild1FooterSubject {
    padding-bottom: 16px;
    margin-right: 15px;
}
.sixthCardChild1FooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 16px;
    letter-spacing: 0.65px;
    position: relative;
    line-height: 25px;
    padding: 1px 0 0 1px;
}
.sixthCardChild1FooterSubject > p::after {
    content: '';
    position: absolute;
    background: #ffffffde;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 5;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ffffff5c,#ffffffde);
}
.sixthCardChild1Comment2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    height: 85px;
    align-items: center;
}
.sixthCardChild1Comment2Left {
    display: flex;
}
.sixthCardChild1Comment2LeftImg {
    margin-right: 5px;
}
.sixthCardChild1Comment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 5px 6px 4px;
    letter-spacing: .25px;
}
.sixthCardChild1Comment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 4px;
}

.sixthCardChild1Comment2Right{
    margin: -1px 0 0 -1px;
}


.sixthCardChild2 {
    width: 400px;
    height: 540px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
}
.sixthCardChild2Image{
    background-image: url('./src/sixthCardImage.png');
    height: 300px;
    width: 400px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
}
/* .sixthCardChild2Pause {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}*/
.sixthCardChild2Lifestyle {
    color: white;
    font-size: 12px;
    padding-left: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}
.sixthCardChild2LikeAndComment {
    display: flex;
    padding-right: 21px;
    padding-bottom: 17px;
}
.sixthCardChild2Comment,.sixthCardChild2Like {
    display: flex;
}
.sixthCardChild2Comment>img,.sixthCardChild2Like>img {
    width: 17px;
    margin-left: 20px;
    margin-right: 5px;
}
.sixthCardChild2LikeTitle {
    color: white;
    font-size: 13px;
}
.sixthCardChild2FooterTop {
    padding-top: 12px;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 17px;
}
.sixthCardChild2FooterHeading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.55px;
    width: 318px;
    margin-left: 3px;
    line-height: 23px;
    margin-top: 1px;
    color: #3f51b5;
}
.sixthCardChild2FooterSubject {
    padding-bottom: 16px;
    margin-right: 15px;
}
.sixthCardChild2FooterSubject > p {
    font-family: 'Open sans',sans-serif;
    font-size: 16px;
    letter-spacing: 0.65px;
    position: relative;
    line-height: 25px;
    padding: 1px 0 0 1px;
}
.sixthCardChild2FooterSubject > p::after {
    content: '';
    position: absolute;
    background: #ffffffde;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 5;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ffffff5c,#ffffffde);
}
.sixthCardChild2Comment2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    height: 85px;
    align-items: center;
}
.sixthCardChild2Comment2Left {
    display: flex;
}
.sixthCardChild2Comment2LeftImg {
    margin-right: 5px;
}
.sixthCardChild2Comment2AuthorName {
    font-weight: 700;
    font-size: 14px;
    margin: 3px 5px 6px 4px;
    letter-spacing: .25px;
}
.sixthCardChild2Comment2Date {
    font-size: 12px;
    color: #878787;
    white-space: break-spaces;
    letter-spacing: 0.65px;
    margin-left: 4px;
}

.sixthCardChild2Comment2Right{
    margin: -1px 0 0 -1px;
}




/******************-------- Right Section ----------********/

.sectionRight{
    width: calc(100% - (820px + 40px + (100% - 1170px)/2 + (100vw - 100%) / 2 ));
    background-color: white;
}
.rightContainer{
    width: 273px;
    margin-left: 40px;
    margin-top: 25px;
}
.topSearch {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
}
.rightTopSearchBar {
    width: 252px;
    border: none;
    background: #f5f5f5;
    height: 43px;
    padding-left: 18px;
    border-radius: 24px;
    font-family: 'Open sans',sans-serif;
    font-size: 16px;
    letter-spacing: 0.65px;
}
.topSearchIcon {
    background-color: #ff4081;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 4px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7px;
}
.categoryBox {
    margin-top: 25px;
}
.categoryBoxHeader {
    color: #3f51b5;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #3f51b5;
    letter-spacing: 0.65px;
}
.categoryBoxContainer > div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
}
.categoryBoxContainer > div > p {
    font-family: 'Open sans',sans-serif;
    font-size: 14px;
    letter-spacing: 0.60px;
}
.categoryBoxContainer > div > p:nth-child(2) {
    font-weight: bold;
    letter-spacing: .65px;
    margin-right: 3px;
}
.categoryPhotographyTitle {
    margin-top: 2px;
}
.categoryVideography {
    border-bottom: transparent !important;
}
.subscribeBox{
    margin-top: 30px;
}
.subscribeBoxHeader {
    font-size: 18px;
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.65px;
    padding-bottom: 3px;
    border-bottom: 1px solid #3f51b5;
}
.subscribeBox > div {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.65px;
}
.subscribeBox > div > label {
    font-family: 'Open sans';
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 12px;
    letter-spacing: .65px;
}
.subscribeBox > div:first-Child > label{
    margin-top: 10px;
  }
.subscribeBox > div > input {
    width: 252px;
    height: 43px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Open sans',sans-serif;
    letter-spacing: 0.65px;
}
.subscribeBoxSubmitButton {
    width: 270px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #3f51b5;
    color: white;
    margin-top: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
.subscribeBoxOrLine {
    display: flex;
    align-items: center;
    margin-top: 14px;
    justify-content: space-between;
    width: 270px;
}
.subscribeBoxOrLine > div {
    width: 120px;
    height: 1px;
    border-bottom: 1px solid;
  }
  .subscribeBoxOrLineText {
    display: flex;
    align-items: center;
    text-transform:lowercase;
}
.sectionRightSocials {
    margin-top: 19px;
    width: 267px;
}
.sectionRightSocialsUL {
    display: flex;
    justify-content: space-between;
}
.sectionRightSocialsUL > li {
    list-style-type: none;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    line-height: 35px;
}
.sectionRightSocialsUL > li > a > i {
    font-size: 18px;
    color: white;
    display: inline-block;
}
.tabPostWidgets {
    margin-top: 47px;
    width: 270px;
}
.tabPostWidgetHeading {
    font-size: 18px;
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding-bottom: 3px;
    border-bottom: 1px solid #3f51b5;
}
.tabPostWidgetSelector {
    display: flex;
    margin-top: 20px;
}
.tabPostWidgetSelector > div {
    width: 135px;
    height: 38px;
    border: 1px solid #3f51b5;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    box-sizing: content-box;
}
.tabPostWidgetSelectorLeft {
    border-radius: 5px 0 0 5px;
    background-color: #3f51b5;
    color: white;
}
.tabPostWidgetSelectorRight {
    color: #3f51b5;
    border-radius: 0 5px 5px 0;
}
.tabPostWidgetChildContainer > div {
    display: flex;
    height: 94px;
    padding-top: 16px;
    border-bottom: 1px solid #e3e3e3;
}
.tabPostWidgetChild1{
    padding-top: 20px !important;
}
.tabPostWidgetChildContainer>div>div:first-child{
    height: 80px;
    width: 100px;
}
.tabPostWidgetChildContainer>div>div:nth-child(2) {
    width: 156px;
    padding-left: 14px;
}
.tabPostWidgetChildContainer>div>div:nth-child(2)>div:first-child {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tabPostWidgetChildContainer>div>div:nth-child(2)>div:first-child>p {
    font-size: 12px;
    line-height: 9px;
    font-family: 'Open sans',sans-serif;
}
.tabPostWidgetChildContainer>div>div:nth-child(2)>div:first-child>div {
    display: flex;
    position: absolute;
    right: 0;
    width: 33px;
    justify-content: space-between;
    top: -3px;
}
.material-icons-outlined{
    font-size: 16px !important;
    color: #3f51b5;
}
.tabPostWidgetChildContainer>div>div:nth-child(2)>div:first-child>div>p {
    font-size: 12px;
    font-family: 'Open sans',sans-serif;
}
.tabPostWidgetChildContainer>div>div:nth-child(2)>div:last-child {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: .65px;
    white-space: normal;
    font-family: 'Open sans',sans-serif;
}
.tabPostWidgetChild1Image{
    background-image:url('./src/rightPostChild1Image.png');
}
.tabPostWidgetChild2Image{
    background-image: url('./src/rightPostChild2.png');
}
.tabPostWidgetChild3Image{
    background-image: url('./src/rightPostChild3.png');
}
.tabPostWidgetChild4Image{
    background-image: url('./src/rightPostChild4.png');
}